{{define "main"}} 

<!--$paginator-->
{{$p := .Pages}}
{{if .IsHome}}
{{$p = where site.RegularPages "Type" "in" site.Params.mainSections}}
{{else if eq .Kind "taxonomy"}}
{{$p = $p.ByTitle}}
{{end}}
{{$paginator := .Paginate $p}}

{{range $paginator.Pages}}

<note>
<date>
	<a href="{{ .Permalink }}">{{.Date.Format "Monday, 2006-01-02"}}</a>
</date>

{{.Content}}

<tags>
	{{range (.GetTerms "tags")}}
	<a href="{{.RelPermalink}}">{{.LinkTitle}}</a>
	{{end}} <div class="star" style="width:{{.Params.rating}}"></div>
</tags>
</note>

{{ end }}

{{ template "_internal/pagination.html" . }}

{{ end }}
